body{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    padding:0;
    margin:0;
    background-color:beige;

}


/*Allmänt*/
.container{
    width:90%;
    margin:auto;
    overflow:hidden;
}


/*Headern*/
header{
    
    background-color:beige;
    color:darkslateblue;
    padding-top:30px;
    min-height:70px;
    border-bottom:red 4px solid;
}

header a{
    color:red;
    text-decoration: none;
    text-transform:uppercase;
    font-size:15px;
}

header ul{
    margin:0;
    padding:0;
}

header li{
    font: 15px/1.5 Arial, Helvetica,sans-serif;
    float:left;
    display:inline;
    padding-right:20px;
}

header #branding{
    font-family: 'Spirax', cursive;
    float:left;
}

header #branding h1{
    margin:0;
}

header nav{
    float:right;
    margin-top:15px;
}

header a:hover{
    color:red;
    font-weight:bold;
}

#showcase{
    min-height:400px;
    background:url("boka parkering.jpg") 0px -200px;
    background-repeat: no-repeat;
    background-size:cover;
    text-align:center;
    color:beige;
}

#showcase h1{
    margin-top:50px;
    font-size:30px;
    margin-bottom:50px;
}

#showcase p{
    
    text-shadow: 3px 2px black;
    font-size:18px;
}

#newsletter {
    padding:15px;
    color:black;
    background-color: beige;

}

#newsletter h1{
    float:left;
}

#newsletter form{
    float:right;
    margin-top:25px;
    
}

#newsletter input[type="email"]{
    padding:4px;
    height:25px;
    width:250px;
}

.knapp_1{
    height:38px;
    background-color:red;
    border:0;
    padding-left:20px;
    padding-right:20px;
    color:white;
}

.dark{
    padding:15px;
    background:black;
    color:white;
    margin-top:10px;
    margin-bottom:10px;
}


.callcenter{
    padding:15px;
    background:darkslateblue;
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    margin-right:100px;
    margin-left:100px;
}

.info{
    padding:15px;
    background:darkslateblue;
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    margin-right:100px;
    margin-left:100px;
}

/*Sidebar*/

aside#sidebar{
    float:right;
    width:40%;
    margin-top:10px;
    color:white;
}

aside#sidobar{
    float:left;
    width:70%;
    margin-top:10px;
    color:white;
}

/*huvudkolumn*/
article#huvudkolumn{
    float:left;
    width:30%;
    color:white;
}



footer{
    text-align:center;
    padding:10px;
    margin-top:1px;
    color:white;
    background-color:red;

}






/*Sida 2*/

#bokning{
    min-height:400px;
    background:url("bokning.jpg") 0px -200px;
    background-repeat: no-repeat;
    background-size:1500px;
    text-align:center;
    color:black;
    
    
}





#bokning .kalender{
    width:14%;
}

#bokning h1{
    font-family: 'Indie Flower', cursive;
    color:blue;
    padding-top: 120px;

}

/*Sida 3*/

#tjänster{
    min-height:400px;
    background:url("verkstad.jpg"), url("biltvätt.jpg");
    background-position: left, right;
    background-repeat:no-repeat, no-repeat;
    background-size:720px,700px;
    text-align:center;
    color:black;
}

#tjänster h1{
    color:white;
    padding-bottom: 100px;
}

#tjänster p{
    color:whitesmoke;
    line-height: 50px;
    text-shadow: 3px 2px black;
    padding-bottom: 100px;
    padding-left: 200px;
    padding-right:200px;
    font-size:17px;
    
    
    
}

/*Sida 4*/

#orientering{
    min-height:400px;
    background:url("parking.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size:1400px;
}


/*Sida 5*/

#kontakt{
    min-height:400px;
    background:url("kontakt.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:1400px;
}


/*Sida 6*/

#övrig{
    min-height: 500px;
    background:url("apps info.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:100% 100%;
    
}
    




/*Media Queries*/
@media(max-width: 768px){
    header #branding,
    header nav,
    header nav li,
    #newsletter h1,
    #newsletter form{
        float: none;
        text-align: center;
        width:100%
    }
        
    header{
        padding-bottom: 20px;
    }

    #showcase h1{
        margin-top:40px;
    }

    #newsletter button{
        display:block;
        width:100%;
    }

    #newsletter form input[type="email"]{
        width:100%;
        margin-bottom:5px;
    }
}